
<div class="container container-table">
      <div class="row vertical-center-row">
        <div class="text-center col-lg col-lg-offset">



             <div class="nameInputOuter">
                <div class="nameInputDiv">
                    <input class="nameInput" type="text" placeholder="Enter your name" ng-model="playerName">
                    <button class="startButton" ng-click="startGame()">Start</button>
                </div>
            </div>

            <div class="welcomeText">
                <h1 class="welcomeFlash">Welcome {{playerName}}</h1>
            </div>

                    
        </div>
      </div>
</div>




